@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "CMU Serif";
    src: url("../public/fonts/cmunrm.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@font-face {
  font-family: 'Beautifully Delicious';
  unicode-range: U+000-5FF;
  src: local('Beautifully Delicious'), url('../public/fonts/BeautifullyDelicious.woff2') format('woff2'), url('../public/fonts/BeautifullyDelicious.woff') format('woff');
}

@font-face {
  font-family: "CMU Serif";
  unicode-range: U+000-5FF;
  src: url("../public/fonts/cmunbi.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "CMU Serif";
  src: url("../public/fonts/cmunrm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'CMU Serif', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #F6D1C9;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #F6D1C9;
  transform-origin: top;
}




